<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Quests
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Quests</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['/create']" expand="full">CREATE</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full">LVL UP</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full">GIFT</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <!-- <ion-label style="margin-left: 5%; font-size: 24px;" position="fixed" color="primary">Your tasks in progress</ion-label> -->
    <ion-item *ngFor="let task of this.tasks" class="task">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>Task: {{task}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>
              EXP: <ion-progress-bar color="tertiary" value="0.5"></ion-progress-bar>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>


</ion-content>
