<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      QuestMyLife
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Quest my Life of</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
  <ion-button (click)="btnClicked()" color=secondary fill="solid" strong="">
    Enter Name
  </ion-button>


</ion-content>
